@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  @apply text-2xl font-semibold text-primary-500 sm:text-2xl md:text-2xl;
}
.heading2 {
  @apply text-2xl font-bold hover:text-white text-primary-500 sm:text-xl;
}

.heading3 {
  @apply text-5xl font-bold tracking-tight text-white sm:text-2xl md:text-4xl;
}
.heading4 {
  @apply text-8xl font-bold tracking-tight text-primary-500 sm:text-4xl md:text-5xl;
}
.heading5 {
  @apply text-8xl font-semibold tracking-tight text-white sm:text-xl md:text-5xl;
}
.para {
  @apply text-lg leading-8 text-white sm:text-sm;
}
.btn {
  @apply rounded-xl bg-secondary-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-800 whitespace-nowrap;
}
.btn3 {
  @apply rounded-xl bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-800 whitespace-nowrap;
}
.btn2 {
  @apply text-sm font-semibold leading-6 text-white;
}

.overflow-ellipsis-hover\:hover {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}
